<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UpStart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/cover.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <script src="https://kit.fontawesome.com/46b7ceee20.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    
        <header class="p-3 text-bg-dark">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-0 mb-lg-0 text-white text-decoration-none">
                  <img class="bi me-2" width="70" height="52" role="img" aria-label="Bootstrap" src="./Assests/Designer (7).png" style="margin-right: 60px;">
                </a>
                <h4 style="margin-right: 750px; margin-left: 10px;">UpStart</h4>
                <div class="text-end" >
                  <button type="button" class="btn btn-outline-light me-2"><a class="loginlink" style="color:white;text-decoration:none;" href="/login">Login</a></button>
                  <button type="button" class="btn btn-warning">
                    <a style="color:black;text-decoration: none;" href="/signup">Sign-up</a>
                  </button>
                </div>
              </div>
            </div>
          </header>
      
      
        <main>
          <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="./Assests/front.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Empower Your Entrepreneurial Journey with Us</h1>
                <p class="lead" style="text-align: center;">Join our social media platform designed to connect aspiring entrepreneurs and startups. Discover mentorship programs, showcase your ideas, and network with like-minded individuals.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Login</button>
                  <button type="button" class="btn btn-dark btn-lg px-4 me-sm-3">Sign Up</button>
                </div>
              </div>
            </div>
          </div>
        </main>  
          
       <!-- Second -->
    
          <div class="container my-5">
            <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
              <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h2 class="display-4  lh-1 text-body-emphasis">Connect, Collaborate, and Succeed with Us</h2>
                <p class="lead">Welcome to our social media platform designed to empower aspiring entrepreneurs and startups. Discover a vibrant community, access valuable resources, and unlock endless opportunities for growth and innovation.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                  <button type="button" class="btn btn-dark btn-lg px-4 me-md-2 ">Register as Startup</button>
                </div>
              </div>
              <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                  <img class="rounded-lg-3" src="./Assests/portrait.jpeg" alt="" width="340">
              </div>
            </div>
          </div>
    
    <!-- Second Page -->
    <!-- Third -->
          <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="./Assests/5013256.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h2 class="display-5  text-body-emphasis lh-1 mb-3">Showcase Your Skills and Interests</h2>
                <p class="lead">Create a detailed profile to highlight your past experience, skills, and interests. Customize it with photos, bios, and links. Share your ideas and blogs with the community.</p>
                
                <div class="row g-4 py-4 row-cols-0 row-cols-lg-0">
                  <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-dark bg-gradient fs-2 mb-3">
                        <i class="fa-brands fa-cc-discover"></i>
                    </div>
                    <h6 class="fs-4 ">Discover</h6>
                    <p>Find like-minded entrepreneurs, investors, and partners to collaborate with.</p>
                    
                  </div>
                  <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-dark bg-gradient fs-4 mb-3">
                        <i class="fa-brands fa-connectdevelop"></i>
                    </div>
                    <h6 class="fs-4 text-body-emphasis">Connect</h6>
                    <p>Engage with the entrepreneurial community, network, and share knowledge.</p>
                    
                  </div>
                
                </div>
    
                
              </div>
            </div>
          </div>
    
          <!-- Fourth -->
    
          <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="./Assests/4976639.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h2 class="display-5  text-body-emphasis lh-1 mb-3">Unlock Networking Opportunities with User Registration and Profile Creation</h2>
                <p class="lead">Join our social media platform for aspiring entrepreneurs and startups to connect, collaborate, and grow together. Create your profile, showcase your skills, and unlock networking possibilities.</p>
               
    
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Join</button>
                  <button type="button" class="btn btn-outline-dark btn-lg px-4">Connect</button>
                </div>
              </div>
            </div>
          </div>
    
          <!-- Fifth -->
          <div class="px-4 pt-5 my-5 text-center border-bottom">
            <h2 class="display-4  text-body-emphasis">Empowering Founders Through Mentorship Programs</h2>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">Our mentorship program connects experienced mentors with aspiring founders, providing guidance, support, and valuable insights to help them succeed in their entrepreneurial journey.</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <button type="button" class="btn btn-dark btn-lg px-4 me-sm-3">Arrage Session</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Find Session</button>
              </div>
            </div>
            <div class="overflow-hidden" style="max-height: 45vh;">
              <div class="container px-5">
                <img src="./Assests/116z_2208_w018_n001_14b_p10_14.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="500" height="500" loading="lazy">
              </div>
            </div>
          </div>
    
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
          
    <article class="article group" style="margin-left: 20%;">
        <img class="image right" src="./Assests/Designer (8).png" alt="Image">
        <section class="content">
          <h2 class="headline">Unlock Your Potential with Mentorship Programs</h2>
          <p>Our Mentorship Programs provide aspiring entrepreneurs with the opportunity to connect with experienced mentors, gaining valuable insights and guidance to accelerate their startup journey.</p>
          <p>Connect with Experienced Mentors</p>
          <p>Gain Valuable Insights and Guidance</p>
          <p>Accelerate Your Startup Journey</p>
          
        </section>
      </article>
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
      
          <div class="section-title">
            <h2>Team Fusion</h2>
            <p></p>
          </div>
      
          <div class="row">
      
            <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Tanmay Tare</h4>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
      
            <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Onkar Waghmode</h4>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
      
            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Nachiket Rakhonde</h4>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
      
            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Vaibhav Zendage</h4>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
      
          </div>
      
        </div>
      </section><!-- End Team Section -->
    <div id="outer" style="margin-top: 30px; margin-bottom: 30px;">  
        <div id="inner">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <p>Our platform has been a game-changer for many startup. It provided everyone with the exposure and networking opportunities they needed to grow their business.</p>
        </div>
      </div>
    <h1>Frequently Asked Questions</h1>
<div class='faq-container'>
  <div class="faq">
    <h3 class="faq-title">How does it work?</h3>
    <p class="faq-text">Our platform allows aspiring entrepreneurs and startups to connect, collaborate, and share ideas. Users can register accounts, create detailed profiles, and upload ideas and blogs. Startup profiles showcase ventures, including descriptions, mission statements, and offerings. The platform also facilitates connections between mentors and founders through mentorship programs.</p>
    <button class='faq-toggle'>
      <svg class="chevron w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/> 
  </svg>
      
      <svg class="close w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
  </svg>
    </button>
  </div>
   <div class="faq">
    <h3 class="faq-title">What are the benefits?</h3>
    <p class="faq-text">By joining our platform, entrepreneurs gain access to a supportive community, networking opportunities, and valuable resources. They can follow startup and user profiles, engage with the community, and share knowledge. The platform fosters innovation and collaboration within the entrepreneurial community.</p>
    <button class='faq-toggle'>
      <svg class="chevron w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/> 
  </svg>
      
      <svg class="close w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
  </svg>
    </button>
  </div>
   <div class="faq ">
    <h3 class="faq-title">How can I join?</h3>
    <p class="faq-text">To join our platform, simply visit our website and click on the 'Sign Up' button. Fill out the registration form with your details and create your profile. Once registered, you can start exploring and connecting with other entrepreneurs and startups.</p>
    <button class='faq-toggle'>
      <svg class="chevron w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/> 
  </svg>
      
      <svg class="close w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
  </svg>
    </button>
  </div>
   <div class="faq ">
    <h3 class="faq-title">Is it free to use?</h3>
    <p class="faq-text">Yes, our platform is free to use. We believe in providing equal opportunities for aspiring entrepreneurs and startups to connect and grow. However, we also offer premium features and services for those who are looking for additional benefits and support.</p>
    <button class='faq-toggle'>
      <svg class="chevron w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/> 
  </svg>
      
      <svg class="close w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
  </svg>
    </button>
  </div>
   <div class="faq ">
    <h3 class="faq-title">How can I get support?</h3>
    <p class="faq-text">If you need any assistance or have further questions, our support team is here to help. You can reach out to us through our contact form or by sending us an email. We strive to provide timely and helpful support to all our users. </p>
    <button class='faq-toggle'>
      <svg class="chevron w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/> 
  </svg>
      
      <svg class="close w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
  </svg>
    </button>
  </div>
</div>
    <section>
        <div style="text-align: center; margin-left: 25%;">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <div>
                    <h2>CONTACT US</h2>
                  </div>
                  <form method="post" data-form-title="CONTACT US">
                    <input type="hidden" data-form-email="true">
                    <div class="form-group">
                      <input type="text" class="form-control" name="name" required="" placeholder="Name*" data-form-field="Name">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" required="" placeholder="Email*" data-form-field="Email">
                    </div>
                    <div class="form-group">
                      <input type="tel" class="form-control" name="phone" placeholder="Phone" data-form-field="Phone">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" name="message" placeholder="Message" rows="7" data-form-field="Message"></textarea>
                    </div>
                    <div>
                      <button style="margin-top:20px;" type="submit" class="btn btn-lg btn-danger">CONTACT US</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <footer class="bg-body-tertiary text-center">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
            data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #3b5998;"
              href="#!"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #55acee;"
              href="#!"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #dd4b39;"
              href="#!"
              role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #ac2bac;"
              href="#!"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #0082ca;"
              href="#!"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <!-- Github -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #333333;"
              href="#!"
              role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright:
          <a class="text-body" href="#">Team Fusion</a>
        </div>
        <!-- Copyright -->
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <script src="/script/cover.js"></script>
      <script src="index.js"></script>
</body>
</html>